:root {
    --cream: #efe3d8;
    --lightgreen: #a8d26e;
    --green: #65a944;
    --purple: #7b2c6a;
    --darkpurple: #622755;
  }
@font-face {
    font-family: montserrat;
    src: url(/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: dosis;
    src: url(/fonts/Dosis[wght].ttf);
    font-weight: 100 950;
}
html {
    background-color: var(--purple);
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: montserrat;
    color: var(--cream);
}
h1 {font-size: 7rem}
h2 {font-size: 5.5rem;}
h3 {font-size: 3.75rem;}
h4 {font-size: 3rem;}
h5 {font-size: 2.25rem;}
h6 {
    font-size: 1.5rem;
    color: var(--lightgreen);
}
p, a, input, select, label, button, ::placeholder {
    font-family: 'dosis';
    font-size: 1.5rem;
    color: var(--cream);
    font-weight: 200;
    filter: brightness(1) drop-shadow(0 0 0 rgba(0,0,0,0));
    transition-property: filter;
    transition-duration: .3s;
}
a {
    text-decoration: none;
    color: var(--lightgreen);
}
a:hover, button:hover, #search-icon:hover {
    filter: brightness(.8) drop-shadow(0 0 0 var(--darkpurple));
    cursor: pointer;
}
button {
    cursor: pointer;
    border: none;
}
p + p {
    margin-top: 1rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
#top-row {
    align-items: flex-start
}
.tel {
    color: var(--cream);
    font-family: montserrat;
    font-size: 2.25rem;
    margin-bottom: .5rem;
    display: block;
}
#logo {
    width: 40rem;
}
menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
menu a {
    font-family: montserrat;
    text-transform: uppercase;
    color: var(--cream);
}
#menu-wrapper {
    background-color: var(--darkpurple);
    padding: 2rem;
}
#menu-wrapper .column {
    text-align: center;
}
#order-online {
    background-color: var(--green);
    padding: 1rem 3rem;
}
#door-dash {
    border: solid .25rem var(--green);
    padding: .75rem 3rem;
}
#p-to-g-curve {
    background-color: var(--purple);
    border-radius: 0 0 50% 50%;
    height: 20rem;
    margin-bottom: -13rem;
    margin-top: -14rem;
    z-index: -1;
    width: 120%;
    margin-left: -10%;
    position: relative;
}
#mission p {
    text-align: center;
    color: var(--lightgreen);
    font-weight: 400;
    font-size: 2.75rem;
    max-width: 80rem;
    margin: auto;
    padding: 3rem;
}
#photo-row {
    background-color: var(--green);
    z-index: -2;
    padding: 16rem 1rem;
    min-height: 10rem;
    position: relative;
}
#photo-row p {
    font-size: 3rem;
    font-weight: 400;
}
#photo-row .column {
    transform: translateY(-5rem);
}
#g-to-p-curve {
    background-color: var(--purple);
    border-radius: 50% 50% 0 0;
    height: 20rem;
    margin-bottom: -13rem;
    margin-top: -14rem;
    z-index: -1;
    width: 120%;
    margin-left: -10%;
    position: relative;
}
#shrimps {
    transform: scale(1.25) translateX(-2rem);
    max-width: 33rem;
}
#bringing-joy {
    min-width: 33rem;
    transform: translateY(12rem);
}
#noodles {
    transform: scale(1.25) translateX(2rem);
    max-width: 33rem;
    position: relative
    ;
}
#photos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    margin-top: -38rem;
}
#photos img {
    height: 24rem;
}
#basil {
    width: 30rem;
    position: absolute;
    left: 0;
}
#improving-our-world {
    flex-grow: 2;
    margin-left: 2rem;
    margin-top: 6rem;
}
#ginger-chili {
    width: 30rem;
    transform: scale(1.5) translate(-6rem, 9rem);
}

footer {
    background-color: var(--green);
    background-image: url(/images/map.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 45vw;
    position: relative;
    z-index: -2;
    padding-top:15rem;
    margin-top: 5rem;
}
#footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 1rem;
    padding-top: 5rem;
}
#share { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-bottom: 2rem;
    text-align: center;
}
#share .flex-links a {
    padding: 1rem 4rem;
    background-color: var(--purple);
    color: var(--cream);
    font-family: montserrat;
    text-transform: uppercase;
}
#share .flex *{
    margin: 1rem;
}
#questions { 
    grid-area: 2 / 1 / 3 / 2;
    text-align: right; 
    padding-left: 40%;
}
#email { grid-area: 2 / 2 / 3 / 3; }
#contact-form *:not(button) {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    margin-bottom:1rem;
    color: var(--darkpurple);
    font-family: dosis;
    font-size: 1.5rem;
}
::placeholder{color: var(--darkpurple);}
#contact-form button {
    background-color: var(--purple);
    padding: 1rem 4rem;
}
#footer-copyright {
    font-size: 1.25rem;
    padding: 2rem;
}
#footer-copyright a {
    font-size: 1.25rem;
    color: var(--darkpurple);
}